<div class="container col-md-offset-2">
    
    <!--USER INFO-->
    
    <div class="row">
    <div class="col-md-8">
    <div class="jumbotron">
      <h3>
        Welcome, <%= @user.username %>!
      </h3>
      <li> Name: <%= @user.name %> </li>
      <li> Birthday: <%= @user.birthday %> </li>
      <li> Email: <%= @user.email %> </li>
      <h3>
        Time to next cycle: <%= @countdown %> days
      </h3>
      <p>Average cycle length: <%= @cycle_lengths %></p>
      <p>Median time between: <%= @arraybetween %></p>
            <p>Median time between: <%= @nextstart %></p>
            <p>Median time between: <%= @previousend %></p>



    </div>
    </div>
    </div> 
     <!--ADD A THING ROW  -->
      

     <!--CURRENT CYCLE AND NEXT CYCLE ROW-->
   
    <div class="row">
        <div class="col-sm-4">
        <h2>Current or Last Cycle</h2>
                <div class="form-group">
                <label for="start_date" class="control-label">
                  Start date
                </label>
        
                <p><%= @recentcycle.start_date %></p>
              </div>
        
              <!-- Label and input for end_date -->
              <div class="form-group">
                <label for="end_date" class="control-label">
                  End date
                </label>
        
                <p><%= @recentcycle.end_date %></p>
              </div>
              <div class="form-group">
                <a href="/cycles/edit/<%@recentcycle.id%>" class="btn btn-warning">Update cycle</a>
              </div>
        </div>
        
        <div class="col-sm-4">
        <h2>Next Cycle</h2>
              <form action="/create_cycle" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        
              <!-- Label and input for start_date -->
              <div class="form-group">
                <label for="start_date" class="control-label">
                  Start date
                </label>
        
                <input type="text" id="start_date" name="start_date" placeholder="Should be: <%= @nextcyclestart %>" class="form-control" value="<%= @cycle.start_date %>" required>
              </div>
        
              <!-- Label and input for end_date -->
              <div class="form-group">
                <label for="end_date" class="control-label">
                  End date
                </label>
        
                <input type="text" id="end_date" name="end_date" placeholder="Should be: <%= @nextcycleend %>" class="form-control" value="<%= @cycle.end_date %>" required>
              </div>
        
              <!-- Label and input for user_id -->
              <div class="form-group">
               
                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
              </div>
        
              <button class="btn btn-success">
                Create Cycle
              </button>
              or
              <a href="/cycles">Cancel</a>
            </form>
        </div>   
        </div>
        
        
        <div class="row">
        <div class="col-sm-8">
            <h1>Your next shipment</h1>
        </div>
        </div>
        
        <div class="row">
        <div class="col-sm-3">
            <h4>Your shipment is going to:</h4>
            <p><%= @recentaddress.address %></p>
            <!--<p>Do you need to edit your address?</p>-->
        </div>
        <div class="col-sm-3">
            <h4>It will contain:</h4>
            <p><%= @recentorder.super %> super tampons</p>
            <p><%= @recentorder.medium %> medium tampons</p>
            <p><%= @recentorder.lite %> lite tampons</p>
            <!--<p>Do you need to edit your order?</p>-->
        </div>
        <div class="col-sm-2">
            <h4>It should arrive by:</h4>
            <p><%= @nextshipment %></p>
            <!--<p>Do you need it earlier?</p>-->
        </div>
        </div>
 
 
<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <form action="/create_shipment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for order_id -->
      <div class="form-group">
        <input type="hidden" id="order_id" name="order_id" placeholder="Order" class="form-control" value="<%= @recentorder.id %>">
      </div>

      <!-- Label and input for cycle_id -->
      <div class="form-group">
         <input type="hidden" id="cycle_id" name="cycle_id" placeholder="Cycle" class="form-control" value="<%= @recentcycle.id %>">
      </div>

      <!-- Label and input for address_id -->
      <div class="form-group">
        <input type="hidden" id="address_id" name="address_id" placeholder="Address" class="form-control" value="<%= @recentaddress.id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
         <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-success">
        Confirm Shipment for Next Cycle
      </button>
      
    </form>
  </div>
</div> 
 
    
     
</div>
  
</div>

</div>