<div class="page-header">
  <h1>
    Addresses
    <a href="/addresses/new" class="btn btn-lg btn-success">New Address</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>

      <% @addresses.each do |address| %>
      
      <% if address.user_id == current_user.id %>
      <tr>
        <td><%= address.user_id %></td>
        <td><%= address.address %></td>
        <td>
          <a href="/addresses/<%= address.id %>" class="btn btn-primary">Show</a>
          <a href="/addresses/<%= address.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_address/<%= address.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
 
      <% end %>
    </table>
  </div>
</div>
