<div class="page-header">
  <h1>
    Shipments
    <a href="/shipments/new" class="btn btn-lg btn-success">New Shipment</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Order</th>
        <th>Cycle</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>

      <% @shipments.each do |shipment| %>
      <% if shipment.user_id == current_user.id %>

      <tr>
        <td>
          <dd>Super: <%= shipment.order.super %></dd>
          <dd>Medium: <%= shipment.order.medium %></dd>
          <dd>Lite: <%= shipment.order.lite %></dd>
        </td>
        <td>
          <dd>Start: <%= %></dd>
        </td>
        <td><%= shipment.address.address %></td>
        <td>
          <a href="/shipments/<%= shipment.id %>" class="btn btn-primary">Show</a>
          <a href="/shipments/<%= shipment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_shipment/<%= shipment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
