<div class="page-header">
  <h3>Shipment #<%= @shipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Order</dt>
      <dd>Super: <%= @shipment.order.super %></dd>
      <dd>Medium: <%= @shipment.order.medium %></dd>
      <dd>Lite: <%= @shipment.order.lite %></dd>

      <dt>Cycle</dt>
      <dd>Start: <%= @shipment.cycle_id %></dd>

      <dt>Address</dt>
      <dd><%= @shipment.address_id %></dd>

      <dt>User</dt>
      <dd><%= @shipment.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/shipments" class="btn btn-primary">
        Back
      </a>
      <a href="/shipments/<%= @shipment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_shipment/<%= @shipment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
