<div class="page-header">
  <h3>Shipment #<%= @shipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Order</dt>
      <dd>Super: <%= @shipment.order.super %></dd>
      <dd>Medium: <%= @shipment.order.medium %></dd>
      <dd>Lite: <%= @shipment.order.lite %></dd>
      <dd> <a href="/orders/<%= @shipment.order.id %>/edit" class="btn btn-secondary">Edit order</a></dd>


      <dt>Cycle</dt>
      <dd>Start: <%= @shipment.cycle.start_date %></dd>
      <dd>End: <%= @shipment.cycle.end_date %></dd>
      <dd> <a href="/cycles/<%= @shipment.cycle.id %>/edit" class="btn btn-secondary">Edit cycle</a></dd>

      <dt>Address</dt>
      <dd><%= @shipment.address.address %></dd>
      <dd> <a href="/addresses/<%= @shipment.address.id %>/edit" class="btn btn-secondary">Edit address</a></dd>


      <dt>User</dt>
      <dd><%= @shipment.user.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/shipments" class="btn btn-primary">
        Back
      </a>
      <!--<a href="/shipments/<%= @shipment.id %>/edit" class="btn btn-warning">-->
      <!--  Edit-->
      <!--</a>-->
      <!--<a href="/delete_shipment/<%= @shipment.id %>" class="btn btn-danger" rel="nofollow">-->
      <!--  Delete-->
      <!--</a>-->
    </div>
  </div>
</div>
